* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#sclera {
    animation: blink 2.4s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#iris {
    animation: squeeze 2.4s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#pupil {
    animation: squeeze 2.4s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#mouth {
    animation: move 4.8s infinite linear;
}

@keyframes blink{
    90% {
        transform: none;
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(15px) scaleY(0)
    }
    100% {
        animation-timing-function: ease-out;
    }
}

@keyframes squeeze{
    90% {
      transform: none;
      animation-timing-function: ease-in;
    }
    93% {
      transform: scaleY(0.8)
    }
    100% {
      animation-timing-function: ease-out;
    }
}

@keyframes move{
    90% {
        transform: none;
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(6px)
    }
    100% {
        animation-timing-function: ease-out;
    }
}

#chip_fill_1, #chip_fill_2, #chip_fill_3, #chip_outline_1, #chip_outline_2, #chip_outline_3, #sm_chips {
    animation: rotate 4s infinite linear;
    transform-origin: 50% 50%;
    display: inline-block;
}

#glossy_detail, #glossy_point {
    animation: twitch 2s infinite linear;
    transform-origin: 50% 50%;
    display: inline-block;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes twitch{
    90% {
        transform: none;
        animation-timing-function: ease-in
    }
    95% {
        transform: translateX(-4px);
        transform: translateY(4px);
    }
    100% {
        animation-timing-function: ease-out;
    }
}
